.slide {
  border: solid 3px red;
  // width: 840px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  &_main {
    // width: 640px;
    height: 400px;
    margin: 0 auto;
    &__images {
      position: relative;
      padding: 5% 0 5%;
      margin: 0 auto;
      width: 90%;
      height: 280px;
      clip-path: inset(10% 25% 10% 25%);
      & div {
        height: 280px;
        cursor: pointer;
        &.s0 {
          top: 70px;
          width: 50%;
          position: absolute;
        }
        &.s1 {
          top: 70px;
          width: 50%;
          position: absolute;
        }
        &.s2 {
          top: 70px;
          width: 50%;
          position: absolute;
        }
        &.s3 {
          top: 70px;
          width: 50%;
          position: absolute;
        }
        &.s4 {
          top: 70px;
          width: 50%;
          position: absolute;
        }
      }
      & > .active {
        animation: fadeImg 3s;
      }
    }
  }
}

@keyframes fadeImg {
  from {
    left: 25%;
  }
  to {
    left: 75%;
  }
}

.slide_buttons {
  width: 240px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  &__prev {
    position: absolute;
    top: 23px;
    right: 200px;
    cursor: pointer;
    color: lightgray;
    width: 30px;
    height: 30px;
    &:hover {
      transition-duration: 0.2s;
      transform: translateX(-10px);
    }
    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      margin-top: 2.5px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      transform: rotate(-135deg);
    }
  }

  &__next {
    position: absolute;
    top: 23px;
    left: 200px;
    cursor: pointer;
    color: lightgray;
    width: 30px;
    height: 30px;
    &:hover {
      transition-duration: 0.2s;
      transform: translateX(10px);
    }
    &::after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      margin-top: 2.5px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      transform: rotate(45deg);
    }
  }
}
