.slide {
  height: 400px;
  position: relative;
  margin-top: 100px;
  transform: rotate(-30deg);
}

.slide_main {
  height: 400px;
  margin: 0 auto;
}

.slide_main__images {
  position: relative;
  padding: 5% 0 5%;
  margin: 0 auto;
  width: 90%;
  height: 280px;
  clip-path: inset(10% 25% 10% 25%);
  overflow: hidden;
}

.slide_main__images div {
  height: 280px;
  cursor: pointer;
}

.slide_main__images div.s0 {
  top: 70px;
  width: 50%;
  position: absolute;
}

.slide_main__images div.s1 {
  top: 70px;
  width: 50%;
  position: absolute;
}

.slide_main__images div.s2 {
  top: 70px;
  width: 50%;
  position: absolute;
}

.slide_main__images div.s3 {
  top: 70px;
  width: 50%;
  position: absolute;
}

.slide_main__images div.s4 {
  top: 70px;
  width: 50%;
  position: absolute;
}

.slide_buttons__next {
  position: absolute;
  top: 200px;
  right: 300px;
  cursor: pointer;
  color: lightgray;
  width: 30px;
  height: 30px;
}

.slide_buttons__next:hover {
  transition-duration: 0.2s;
  transform: translateX(10px);
}

.slide_buttons__next::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: 2.5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg);
}
