.carousel {
  width: 840px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.carousel__main {
  width: 640px;
  height: 400px;
  margin: 0 auto;
  clip-path: ellipse(40% 39% at 50% 50%);
}

.carousel__main > .active {
  animation: fadeImg 0.8s;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
}

.carousel__thumbnails li {
  cursor: pointer;
  opacity: 0.4;
}

.carousel__thumbnails li:hover {
  opacity: 1;
}

.carousel__thumbnails li.current {
  opacity: 1;
}

.carousel__thumbnails img {
  width: 80px;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel_thumbnails_wrapper {
  position: relative;
}

.carousel_thumbnails_wrapper__prev {
  position: absolute;
  top: 23px;
  left: 110px;
  cursor: pointer;
  color: lightgray;
  width: 30px;
  height: 30px;
}

.carousel_thumbnails_wrapper__prev:hover {
  transition-duration: 0.2s;
  transform: translateX(-10px);
}

.carousel_thumbnails_wrapper__prev::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -2.5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg);
}

.carousel_thumbnails_wrapper__next {
  position: absolute;
  top: 23px;
  right: 110px;
  cursor: pointer;
  color: lightgray;
  width: 30px;
  height: 30px;
}

.carousel_thumbnails_wrapper__next:hover {
  transition-duration: 0.2s;
  transform: translateX(10px);
}

.carousel_thumbnails_wrapper__next::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2.5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(-135deg);
}
